doctype html
include head
	link(rel="shortcut icon", href="http://getbootstrap.com/assets/ico/favicon.ico")
	meta(http-equiv="content-type", content="text/html; charset=UTF-8")
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="description", content="")
	meta(name="author", content="")
	link(rel="stylesheet", href="bootstrap/css/bootstrap.css")
	link(rel="stylesheet", href="bootstrap/css/cover.css")
	style(type="text/css", id="holderjs-style")
	title=title
body
	div.site-wrapper
		div.site-wrapper-inner
			div.cover-container
				div.masthead.clearfix
					div.inner
						h3.masthead-brand="Cover"
						ul.nav.masthead-nav
							li.active
								a(href="#") Home
							li
								a(href="#") features
							li
								a(href="#") contact
				div.inner.cover
					h1.cover-heading Cover your page
					p.lead my attempt at a cover page
					p.lead
						a.btn.btn-lg.btn-default(href="#") Learn more
				.mastfoot
					.inner
						p ABsoftware
	script(src="bootstrap/js/bootstrap.js")
	script(src="bootstrap/js/jquery.js")
	script(src="bootstrap/js/docs.js")



	

